.enlarge:active {
	transform:scale(6,6);
	transform-origin:0 0;
    z-index:999;
}


#imgContainer{

    position:absolute;
    width: 50%;
    height: 80%;
    left:20%;
    top:15%;
}

#searchContainer{
    position:absolute;
    left:3%;
    top:3%;
}